* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 4rem;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-weight: 300;
}

table {
  margin-top: 2rem;

}

/* MONTH NAV */
.date {
  text-align: center;
}

.currMonth {
  font-size: 1.4rem;
  padding: 0 2rem;
  width: 300px;
  overflow: hidden;
}


/* BUTTONS */
.btn {
  padding: .75rem;
  border: none;
  background-color: #C0CCDA;
  border-radius: 7px;
}

.btn-form {
  margin-top: 1rem;
  padding: .5rem;
  margin: .25rem;
}

.btn-month {
  background: none;
  font-size: 2rem;
  margin: 0 2rem;
  color: #4F4F4F;
}

/* MODAL */
form {
  width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 7px;
  background-color: #ecf0f4;
  font-weight: 400;
}

.header-form,
.header-label {
  margin-bottom: 2rem;
}

label,
input {
  width: 100%;
}

input {
  height: 2rem;
  margin: .5rem 0;

}

/* TABLE  */

table {
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  min-width: 1175px;
  max-width: 1600px;
  table-layout: fixed;
  margin: 25px 0;
  font-size: 0.9em;
}

table th {
  border: 1px solid #b3adad;
  padding: 5px;
  background: #BFDFCE;
  color: #313030;
}

table td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
}

.col-lg,
.col-md,
.col-sm {
  overflow: hidden;
}

.col-lg {
  width: 120px;
}

.col-sm {
  width: 15px;
}

.col-md {
  width: 50px;
}

.icon {
  height: 15px;
  width: 15px;
}

td[data-row-color="yellow"] {
  background-color: #FDF2D0;
}

td[data-row-color="blue"] {
  background-color: #C0CCDA;
}

td[data-row-color="green"] {
  background-color: #BFDFCE;
}

.green {
  background-color: #BFDFCE;

}

.col-sm:hover {
  cursor: pointer;
}

/* NAV */
nav {
  min-width: 1175px;
  max-width: 1600px;
}

.nav-wrapper {
  display: flex;
  gap: 1.9rem;
  justify-content: flex-start;
  align-items: center;
  height: 1.8rem;
  padding: 1.1rem;
  border-bottom: 0.5px solid #586380;
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 1.4rem;
  position: relative;
  margin-bottom: 4rem;

}

.nav-wrapper a {
  text-decoration: none;
  color: inherit;
}

.date {
  min-width: 1175px;
  max-width: 1600px;
}

.home {
  font-size: 1.5rem;
}