<table style="width: calc(700px + 50%); min-width: 100%; table-layout: fixed;">
  <colgroup>
    <col style="width: 5px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 1px;">
    <col style="width: 2px;">
    <col style="width: 3px;">
  </colgroup>
  <thead class="ant-table-thead">
    <tr>
      <th rowspan="2" class="ant-table-cell highlight-th  ant-table-cell-fix-left ant-table-cell-fix-left-last"
        style="position: sticky; left: 0px;">Habits</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">F</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">M</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">W</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day active-tab">F</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">M</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">W</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">F</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">M</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">W</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">F</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">S</th>
      <th class="ant-table-cell  th-day">M</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">W</th>
      <th class="ant-table-cell  th-day">T</th>
      <th class="ant-table-cell  th-day">F</th>
      <th rowspan="2" class="ant-table-cell highlight-th goal ">Goal</th>
      <th rowspan="2" class="ant-table-cell achievement-col highlight-th ">Achieved</th>
    </tr>
    <tr>
      <th class="ant-table-cell">1</th>
      <th class="ant-table-cell">2</th>
      <th class="ant-table-cell">3</th>
      <th class="ant-table-cell">4</th>
      <th class="ant-table-cell">5</th>
      <th class="ant-table-cell">6</th>
      <th class="ant-table-cell">7</th>
      <th class="ant-table-cell">8</th>
      <th class="ant-table-cell  active-tab">9</th>
      <th class="ant-table-cell">10</th>
      <th class="ant-table-cell">11</th>
      <th class="ant-table-cell">12</th>
      <th class="ant-table-cell">13</th>
      <th class="ant-table-cell">14</th>
      <th class="ant-table-cell">15</th>
      <th class="ant-table-cell">16</th>
      <th class="ant-table-cell">17</th>
      <th class="ant-table-cell">18</th>
      <th class="ant-table-cell">19</th>
      <th class="ant-table-cell">20</th>
      <th class="ant-table-cell">21</th>
      <th class="ant-table-cell">22</th>
      <th class="ant-table-cell">23</th>
      <th class="ant-table-cell">24</th>
      <th class="ant-table-cell">25</th>
      <th class="ant-table-cell">26</th>
      <th class="ant-table-cell">27</th>
      <th class="ant-table-cell">28</th>
      <th class="ant-table-cell">29</th>
      <th class="ant-table-cell">30</th>
    </tr>
  </thead>
  <tbody class="ant-table-tbody">
    <tr aria-hidden="true" class="ant-table-measure-row" style="height: 0px; font-size: 0px;">
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
      <td style="padding: 0px; border: 0px; height: 0px;">
        <div style="height: 0px; overflow: hidden;">&nbsp;</div>
      </td>
    </tr>
    <tr data-row-key="0">
      <td class="ant-table-cell highlight-th  ant-table-cell-fix-left ant-table-cell-fix-left-last"
        style="position: sticky; left: 0px;">
        <div><span>Running</span></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  active-tab  normal-cell yellow-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell highlight-th goal ">10</td>
      <td class="ant-table-cell achievement-col highlight-th  default">8</td>
    </tr>
    <tr data-row-key="1">
      <td class="ant-table-cell highlight-th  ant-table-cell-fix-left ant-table-cell-fix-left-last"
        style="position: sticky; left: 0px;">
        <div><span>Drink Water</span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  active-tab  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell green-cell">
        <div style="text-align: center;"><span><svg class="icon" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z"
                fill="#4F4F4F"></path>
            </svg></span></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell  normal-cell">
        <div style="text-align: center;"></div>
      </td>
      <td class="ant-table-cell highlight-th goal ">30</td>
      <td class="ant-table-cell achievement-col highlight-th  default">16</td>
    </tr>
  </tbody>
</table>